body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 61, 56);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#menu nav{
    height: 20%;
}
#menu ul{
    list-style-type:none ;
}
#menu li{
    display: inline-flex;
    padding: 3px;
    margin: 5px;
    border-right: 2px solid rgb(55, 91, 87);
    color:rgb(55, 91, 87);
    justify-content: start;
    font-size: 20px;
    font-weight: bold;
}
header{
    width: 500px;
    margin: 20px;
    line-height: 1.5
}
.gray{
    color:rgb(55, 91, 87);
    margin: 0;
}
p{
    margin: 0;
}
.text{
    padding:10px;
}
main{
    display: flex;
    width: 100%;
}
#icon_hw{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275;
}
#icon_hw img
{
width: 60%;
}

@media screen and (max-width: 600px) {
#information{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
}
@media screen and (min-width: 600px) and (max-width: 960px)
{
#information {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
    .text {
        width: 30%; 
    }
}
@media screen and (min-width: 960px){
    #information {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
    }
}