.clock {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(43, 131, 213);
    border-radius: 50%;
    position: relative;
}
.hand {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: rgb(54, 116, 209);
    transform-origin: 100% 50%;
    animation: rotateHand linear infinite;
}
.hour {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -100%) rotate(90deg);
    animation-duration: 43200s;
}
.minute {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -100%) rotate(90deg);
    animation-duration: 3600s;
}
.second {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -100%) rotate(90deg);
    animation-duration: 60s;
}

@keyframes rotateHand {
    from {
        transform: translate(-50%, -100%) rotate(90deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(450deg);
    }
}