.btn{
    display: flex;
    justify-content: end;
}

.btn button{
    background-color:white;
    border:0;
    font-size:20px;
    cursor:pointer;
}

.block{
    border:2px solid black;
    padding: 10px;
    margin:10px;
}