div{
    width: 240px;
    border: 5px solid rgb(84, 84, 84);
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
    width: 225px;
    padding: 5px;
}
.action-button{
    color: rgb(37, 114, 152);
    border: 2px solid rgb(37, 114, 152);
    border-radius: 5px;
    margin: 10px;
}
.button{
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    margin: 10px;
}
button:hover{
    background-color: rgb(220, 222, 173);
}