.container{
  display:flex;
  margin:auto;
  justify-content: center;
}

.block{
  width: 100px;
  height: 70px;
  text-align: center;
  padding:10px;
}

.number{
  height: 60%;
  width:100%;
  background-color: #44AAFE;
  color:aliceblue;
 
}

.number, .text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:larger;
}

.text{
  height: 40%;
  width: 100%;
  background-color: #DFDFDF;
  
}